html, body{
    background: black;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

}
.main-section {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    height: 100%;
}
.section-one{
    background: red;
    width: 50%;
}
.section-two {
    background: gold;
    width: 50%;
}